.channel-container {
    grid-column: span 2;
    /* padding-top: 50px; */
    position: relative;
}

.message-section {
    display: flex;
    margin-bottom: 30px;
}

.own-message {
    justify-content: flex-end;
}

.other-message {
    justify-content: flex-start;
}

.message-container {
    background-color: var(--darkest-blue);
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    color: var(--off-white);
    /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
}

.user-message-container {
    /* background-color: var(--light-blue); */
    background-color: #ff3cac;
    background-image: linear-gradient(
        225deg,
        #ff3cac 0%,
        #784ba0 50%,
        #2b86c5 100%
    );

    border-radius: 10px;
    padding: 10px;
    width: 90%;
    color: var(--off-white);
    align-self: flex-end;
    /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
}

.message-details {
    display: flex;
    justify-content: space-between;
    color: var(--light-gray);
}

.messages-container {
    /* overflow-y: auto;
    height: 60vh; */
    padding-top: 50px;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    /* padding: 30px; */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    max-width: 500px; /* Optional if you want to limit width */
    margin: 0 auto; /* Center within parent container */
    /* background-color: var(--darkest-blue); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-container input {
    flex: 1;
    padding: 30px 30px;
    /* border-radius: 10px; */
    border: none;
    background-color: var(--darkest-blue);
    color: var(--light-gray);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    /* border: 1px solid var(--light-gray); */
}

.input-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    position: absolute;
    height: 40px;
    border-radius: 50%;
    color: var(--off-white);
    border: none;
    right: 30px;
    cursor: pointer;
    background-color: var(--darkest-blue);
    margin-left: 10px; /* Spacing from the input field */
}
