.channel-container {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    max-height: 75vh;
    position: relative;
}

.message-section {
    display: flex;
    margin-bottom: 30px;
}

.own-message {
    justify-content: flex-end;
}

.other-message {
    justify-content: flex-start;
}

.message-container {
    background-color: var(--darkest-blue);
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    color: var(--off-white);
    /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
}

.user-message-container {
    /* background-color: var(--light-blue); */
    background-color: #ff3cac;
    background-image: linear-gradient(225deg, #784ba0 0%, #2b86c5 100%);

    border-radius: 10px;
    padding: 10px;
    width: 90%;
    color: var(--off-white);
    align-self: flex-end;
    /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
}

.message-details {
    display: flex;
    justify-content: space-between;
    color: var(--light-gray);
}

.messages-container {
    flex: 1;
    overflow-y: auto;
    border-radius: 10px;
}

.message-header-container {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
    /* justify-content: space-between; */
    align-items: center;
}
.profile-image {
    border-radius: 50%;
    background-color: var(--off-white);
    height: 30px;
    width: 30px;
}

.direct-message-header {
    margin-bottom: 15px;
    margin: 0;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    /* padding: 30px; */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    max-width: 500px; /* Optional if you want to limit width */
    margin: 0 auto; /* Center within parent container */
    /* background-color: var(--darkest-blue); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-container input {
    flex: 1;
    padding: 30px 30px;
    /* border-radius: 10px; */
    border: none;
    background-color: var(--darkest-blue);
    color: var(--light-gray);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    /* border: 1px solid var(--light-gray); */
}

.input-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    position: absolute;
    height: 40px;
    border-radius: 50%;
    color: var(--off-white);
    border: none;
    right: 30px;
    cursor: pointer;
    background-color: var(--darkest-blue);
    margin-left: 10px; /* Spacing from the input field */
}

/*  SCROLLBAR */
.messages-container {
    overflow-y: scroll;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

.messages-container::-webkit-scrollbar {
    display: none;
}

.messages-container {
    scrollbar-width: none;
}
