.dashboard-container {
    grid-column: span 2;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 10px; */
}

#user-header {
    margin-bottom: 4em;
    font-weight: 200;
}

.channel-list {
    margin-top: 2em;
}

.list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3em;
}

.message-preview {
    color: var(--light-gray);
    font-size: 0.8em;
    max-width: 250px;
}

.dm-container {
    margin-bottom: 0.8em;
}

.dm-header-time {
    display: flex;
    justify-content: space-between;
}

.gradient-text {
    background: -webkit-linear-gradient(225deg, #784ba0 0%, #2b86c5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
