/* Body */
.body-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 30px;
}
.header-container img {
    width: 90px;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 30px;
    background-color: var(--dark-gray);
    border-radius: 50px 50px 0 0;
    flex-grow: 1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
