/* Body */
.body-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 30px;
}
.header-container img {
    width: 90px;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 30px;
    background-color: var(--dark-gray);
    border-radius: 50px 50px 0 0;
    flex-grow: 1;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
