/* GLOBAL STYLES */

:root {
    /* BLUE */
    --dark-blue: #1b202d;
    --medium-blue: #24272f;
    --light-blue: #7a8194;
    /* GRAY */
    --dark-gray: #2c2f38;
    --light-gray: #9da3b0;
    /* WHITE */
    --off-white: #d9d9d9;
    /* GRADIENT */
    --bg-gradient: linear-gradient(
        141deg,
        rgb(164, 160, 235) 10%,
        rgba(144, 28, 69, 1) 100%
    );
    --bg-gradient-bg: rgb(164, 160, 235);
}

body {
    /* background: var(--bg-gradient-bg);
    background: var(--bg-gradient); */
    background-color: var(--dark-blue);
    color: var(--off-white);
    font-family: "Poppins", sans-serif;
}

/* background: rgb(164,160,235);
background: linear-gradient(141deg, rgba(164,160,235,1) 10%, rgba(144,28,69,1) 100%); */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* FONT */
h2 {
    font-size: 0.9em;
}

h3 {
    font-size: 1em;
}
p {
    font-size: 0.9em;
}
